* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #AA998F;
    color: white;
}

header {
    z-index: 999;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 200px;
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
}

.logo {
    font-size: 1,5em;
    font-weight: 800;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav_link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 700; 
    margin-left: 30px;
    position: relative;
}

.nav_link:before {
    content: '';
    background: white;
    width: 0;
    height: 3px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease;
}

.nav_link:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
    
}

.intro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: #DDA15E;
}

.intro:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.intro_inner {
    z-index: 888;
    width: 70%;
    display: none;
}

.intro_inner.active {
    display: block;
    background: transparent;
}

.intro-title {
    font-size: 1.8em;
    font-weight: 600;
    opacity: .9;
}

.intro-title2 {
    font-size: 3.5em;
    font-weight: 800;
}

.intro-subtitle {
    padding-bottom: 50px;
    opacity: .9;
}

.intro video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
}

.fab {
    color: white;
    font-size: 1.8em;
    margin-bottom: 30px;
    transition: .3s ease;
}

.fab:hover {
    transform: scale(1.3);
}

.btn_link {
    background: white;
    padding: 15px 35px;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    border-radius: 3px;
    
}

.slide-nav {
    position: relative;
    z-index: 888;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    margin-bottom: 12px;
}

.nav-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    margin-left: 20px;
    transition: .3s ease;
    cursor: pointer;
}

.active {
    background: #DDA15E;
}

.nav-btn:hover {
    transform: scale(1.3);
}


.about {
    width: 100%;
    height: 750px;
}

.container {
   height: 100%;
   max-width: 1230px;
   padding: 100px 200px;
   margin: 0 auto;
   background: black;
}


.about_inner {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_item {
    width: 400px;
}

.about h1 {
    text-align: center;
}

.about p {
    text-align: center;
}

.about_item.item-1 {
    text-align: center;
    
}

@media(max-width: 1023px){
    header {
        padding: 15px 10px;
    }
    
    .logo {
        font-size: 1.2em;
    }
    
    .intro-title {
        font-size: 1.2em;
    }
    
    .intro-title2 {
        font-size: 2em;
    }
    
    .intro-subtitle {
        font-size: .7em;
    }
    
    .intro_inner {
        width: 70%;
    }
    
    .nav {
        display: none;
    }
    
    section {
        padding: 50px 10px;
    }
    
    .video-slide {
        height: 700px;
    }
    
    .intro-subtitle {
        padding-bottom: 30px;
    }
    
    .btn_link {
        padding: 10px 30px;
        font-size: 0.9em;
    }
}
